name: Deploy to Netlify on commits to dev
on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout repo
      - uses: actions/checkout@v2

      - run: nest --help
      #Create _redirects
      - run: ls
      - run: touch public/_redirects
      - run: echo "/*    /index.html   200" > public/_redirects
      - run: ls public
